fastparquet==2023.10.1
gurobipy>=12.0.1
highspy==1.5.3
joblib==1.4.2
kaleido==0.2.1
kmedoids==0.5.1
loguru==0.7.2
matplotlib==3.9.0
numpy==1.26.4
pandas==2.3.3
pint==0.23
plotly==5.22.0
pyarrow==21.0.0
pydantic==2.11.2
pyomo==6.5.0
requests>=2.32.2,<3.0.0
rich==13.7.1
scikit-learn==1.5.0
scipy==1.13.1
tqdm==4.66.4
typer>=0.12.3
universal-pathlib==0.2.2