table {
   font-size: 0.8rem;  /* using rem to respect end user's browser configuration of font sizes */
}

details {
   font-size: 0.8rem;  /* using rem to respect end user's browser configuration of font sizes */
   /* line-height: 1rem; Can reduce line spacing with this */
}

p.sd-card-text {
   font-size: 0.8rem;  /* using rem to respect end user's browser configuration of font sizes */
   /* line-height: 1rem; Can reduce line spacing with this */
}

div.sd-card-title {
    color: var(--color-brand-primary);
}

div.sd-card-body {
    background-color: var(--color-brand-background);
}

div.sd-summary-content {
    background-color: var(--color-brand-dropdown);
}

/* Make all headers E3 blue */
h1, h2, h3, h4, h5, h6 {
    color: var(--color-brand-primary);
}